.setter-form-1,
.setter-form-2,
.editor-form {
    padding: 1%;
    overflow-y: auto;
}

.settings-page-header { border-bottom: 2px solid }

.setter-form-1 input[type='file']::file-selector-button,
.setter-form-2 input[type='file']::file-selector-button,
.editor-form input[type='file']::file-selector-button {
    border: none;
    border-radius: 10px;
    height: 16px;
}
/*=================================*/
/*$=========Setter Form 1=========$*/
/*=================================*/
.setter-form-1 {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.setter-form-1 > input[type='file'] {
    margin: 8px 5px;
    width: 175px;
}

.settings-actions-header { border-bottom: 2px solid }
/*=================================*/
/*$=========Setter Form 2=========$*/
/*=================================*/
.setter-form-2 {
    border-style: solid;
    border-width: 3px 0 3px 3px;
    grid-template-areas: 
    'a'
    'b'
    'c';
    padding: 0;
    width: 70%;
}

.setter-form-2 *:disabled { cursor: not-allowed }

.create-theme-header { border-bottom: 2px solid }

.theme-tester-header { border-bottom: 2px dashed }

.sf2-submit-btn {
    position: absolute;
    left: 5%;
    top: 5%;
}

.sf2-reset-btn {
    position: absolute;
    left: 10%;
    top: 5%;
}

.sf2-row-a {
    display: flex;
    gap: 10px;
    grid-area: a;
    justify-content: space-between;
}
.sf2-row-b {
    display: flex;
    grid-area: b;
    justify-content: space-between;
}
.sf2-row-c {
    display: flex;
    grid-area: c;
    justify-content: space-between;
}

.sf2-row-a > div,
.sf2-row-b > div,
.sf2-row-c > div {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 7%;
    margin: 2%;
}

.font-family-setter-div select[name='Font Family'] { text-align: center }

.sf2-row-c input[name='Background Media'] { width: 155px }
/*=================================*/
/*$=========Editor Form 1=========$*/
/*=================================*/
.editor-form {
    align-items: center;
    border: 3px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1%;
    height: 625px;
    margin: 5px;
    min-width: 300px;
}

.editor-form *:disabled { cursor: not-allowed }

.editor-form:hover { box-shadow: 0 0 5px black }

.editor-form > input { cursor: pointer }

.editor-form > select[name='Font Family'] { text-align: center }

.editor-form > input[type='file'] { 
    height: 26px;
    width: 155px;
}