.login-form-container {
    align-items: center;
    display: flex;
    height: 80vh;
    justify-content: center;
}

.login-form {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.signup-form-container {
    align-items: center;
    display: flex;
    height: 80vh;
    justify-content: center;
}

.signup-form {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}