/*=================================*/
/*$==========Foundation===========$*/
/*=================================*/
* {
    box-sizing: border-box;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 2px black;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline;
}
/*=================================*/
/*$============Groups=============$*/
/*=================================*/
button:hover {
    cursor: pointer;
}

/*=================================*/
/*$============Elements===========$*/
/*=================================*/
.media-small {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
/*=================================*/
/*$==========Containers===========$*/
/*=================================*/
.settings-container {
    display: flex;
    overflow-x: auto;
}
/*=================================*/
/*$=============Menus=============$*/
/*=================================*/


/*=================================*/
/*$=============Forms=============$*/
/*=================================*/
.settings-form {
    /* border: 5px solid red; */
    display: flex;
    flex-direction: column;
}

.picker-form {

}

.editor-form {
    position: relative;
    text-align: center;
    width: fit-content;
    margin: 5px;
    border-radius: 10px;
}

.editor-form > select {
    text-align: center;
}

.editor-form > input[type='color'] {
    position: relative;
    left: 40%;
}

.editor-form > input[type='checkbox'] {
    position: relative;
    left: 45%;
}

.editor-form > div > input[type='file'] {
    position: relative;
    left: 15%;
}
/*=================================*/
/*$===========Sections============$*/
/*=================================*/


/*=================================*/
/*$==========Conditional==========$*/
/*=================================*/


/*=================================*/
/*$=============Modals=============$*/
/*=================================*/