/*=================================*/
/*$==========Foundation===========$*/
/*=================================*/
* {
    box-sizing: border-box;
    scrollbar-width: none; /*$ Firefox $*/
}

*:disabled { cursor: not-allowed }

*::-webkit-scrollbar {
    display: none;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 3px;
}

input { cursor: pointer }

input[type='password']:invalid,
input[type='password']:invalid:focus {
    border: 1px dashed black;
    background: linear-gradient(#e98074, #e85a4f);
}

input[type='password']:invalid:focus { outline: none }

input[type='text']:focus, input[type='search']:focus { cursor: text }

input[type='file'] {
    height: fit-content;
    margin: 1px 0;
    width: 175px;
}

input[type='file']::file-selector-button {
    border: none;
    border-radius: 10px;
}

select { 
    cursor: pointer;
    text-align: center
}

li { display: inline }

ul { list-style-type: none }
/*=================================*/
/*$=============Groups============$*/
/*=================================*/
input[type='text'],
input[type=email],
input[type='password'] { 
    padding: 3px 6px;
}


input:not([type='search']), select {
    border: none;
    border-radius: 9px;
}

button:hover, input:hover, select:hover {
    box-shadow: inset 0 0 3px black;
}

h1, h2, label { user-select: none }
/*=================================*/
/*$============Elements===========$*/
/*=================================*/
.profile-media-small {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
/*=================================*/
/*$=======Settings Containers=====$*/
/*=================================*/
.settings-page-container {
    text-align: center;
}

.settings-actions-container {
    border: 3px solid;
    border-radius: 5px;
    height: fit-content;
}

.settings-actions-container label {
    border-bottom: 2px solid;
}

.create-and-test-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5%;
    overflow-x: scroll;
}

.create-and-test-container h2 { margin-bottom: 0 }

.create-theme-container {
    overflow-y: auto;
    position: relative;
    width: 800px;
}

.theme-tester-container {
    border: 3px dashed;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
    overflow-wrap: break-word;
    overflow-y: scroll;
}

.themes-container {
    display: flex;
    overflow-x: auto;
}
/*=================================*/
/*$=======History Containers======$*/
/*=================================*/
.history-page-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
}
/*=================================*/
/*$=========Nav Containers========$*/
/*=================================*/
nav {
    display: flex;
    padding: 0 10px 0 10px;
    justify-content: right;
}

nav * {
    cursor: pointer;
    margin: 5px;
}
/*=================================*/
/*$===========Search Page=========$*/
/*=================================*/
.search-page-container {
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
    align-items: center;
}

.search-page-search-form {
    border-radius: 5px;
}

.search-page-search-input {
    border-radius: 25px;
    padding: 10px;
    width: 55vw;
    height: 5vh;
}
/*=================================*/
/*$==========Animations===========$*/
/*=================================*/
.background-rotate {
    animation: auth-scroll 30s ease-in-out infinite alternate;
}

@keyframes auth-scroll {
    100% { background-position-y: 100%; }
}
/*=================================*/
/*$==========Conditional==========$*/
/*=================================*/
.not-allowed { cursor: not-allowed }