.modal-styles > * {
    position: fixed;
    text-align: center;
    z-index: 1;
}

.modal-overlay {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

.profile-dropdown {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    right: 2%;
    top: 8%;
}
