nav * {
  margin: 0 5px;
  user-select: none;
}

nav ul {
  align-items: flex-end;
  display: flex;
  padding: 0;
}

nav ul .copy {
  position: relative;
  top: 3px;
}

nav ul .demo-login, .creator-links-shifted {
  position: relative;
  top: 6px;
}

nav [data-icon] { cursor: pointer }

.profile-media-small {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.profile-media-small:hover { border: 3px solid rgba(192, 192, 192, 0.6) }
