.search-page-title { 
  font-size: 10vh;
  text-align: center;
}

.search-page-search-input {
  border: 3px solid;
  border-radius: 25px;
  padding: 10px;
  width: 55vw;
  height: 5vh;
}

.search-result-div {
    border-bottom: 3px dotted;
    width: 40%;
}

.search-result-div > a {
    overflow-wrap: break-word;
    text-decoration: none;
    width: 50%;
}

.search-result-div > a:hover {
    text-decoration: underline wavy;
    width: 50%;
}

div.search-page-waiting-container [data-icon].search-waiting-icon {
    background: none;
    box-shadow: none;
    height: 50vh;
    left: 25vw;
    outline: none;
    position: absolute;
    top: 25vh;
    width: 50%;
}

.search-time-countdown {
    font-family: 'Times New Roman';
    font-size: 40vh;
    left: 25vw;
    position: absolute;
    text-align: center;
    top: 25%;
    width: 50%;
    z-index: 1;
}