.search-page-search-input {
    border: 3px solid;
}

.search-result-div {
    border-bottom: 3px dotted;
    /* margin: 1%; */
    width: 40%;
}

.search-result-div > a {
    text-decoration: none;
    width: 50%;
}

.search-result-div > a:hover {
    text-decoration: underline wavy;
    width: 50%;
}

.search-result-div > p {
   width: 100%;
}